
p,a {
    font-size: 9pt;
    color: #3d3d3d;
}

a, a:visited {
    color:#427fed;
}

.tweet-list {
    margin: 0px;
    padding: 0px;

}

.tweet-item {
    list-style-type: none;
    list-style: none;
    border-bottom: 1px solid #dedede;
    margin: 5px;
    padding: 5px 2px 5px 58px;
    -webkit-transition: all .8s;
    transition: all .8s;
}

.tweet-content{
    position:relative;
}

.tweet-header {
    position: relative;
    float: left;
    display: block;
    width: 100%;
}

.tweet-header .tweet-avatar {
    position: absolute;
    top: 5px;
    left: -57px;
    background: rgb(255, 255, 255);
    border-radius: 4px;

}

.tweet-header span {
    padding-right: 5px;
}

.tweetTimePosted {
    float: right;
}

.tweet-text {

    width: 100%;
    margin-bottom: 0px;

}

.tweet-interact {


    display: inline;
    float:right;
}


.tweet-interact a {
    display: block;
    font-size: 8px;
}

.tweet-img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.Emoji--forText {
    width: 1.25em;
    height: 1.25em;
    padding: 0 .05em 0 .1em;
    vertical-align: -0.2em;
}

a.tweet-expand, a:visited.tweet-expand{
    color: grey;
    text-decoration: none;
    margin: 0;
}






